header {
    background-color: darkblue;
    text-align: center;
}

body {
    background-image: url("record.png");
    margin: 0;
}

main {
    background-color: lightgray;
    padding: 1em;
}

.info {
    color: darkblue;
}

.mainHeader {
    color: lightblue;
}

.secondaryHeader {
    color: lightgray;
}